
/* Reset some default styles */
body, h1, p, ul 
{
    margin: 0;
    padding: 0;
}

/* Apply border, margin, and padding */
header, main, footer, aside
{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    text-align: center;
}



/* Flexbox for horizontal navigation links */
.nav-links ul 
{
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Removing bullet points */
}

.nav-links li
{
    width: 100%;
}

.nav-links a 
{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

/* Grid layout */
body 
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

header 
{
    grid-area: header;
}

.nav-links 
{
    grid-area: sidebar;
}

main 
{
    grid-area: main;

}

footer 
{
    grid-area: footer;
}

/* Media query for responsive design */
@media (max-width: 500px) 
{
    /* Change flex to block for vertical stacking of links */
    .nav-links ul 
    {
        flex-direction: column;
    }

    /* Move sidebar under the main */
    .nav-links 
    {
        order: 3;
    }
    /* Adjust width ratio between sidebar and footer */
    main 
    {
        grid-area: sidebar;
    }
}

